
@using Constructor_DI.Repository
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.price</td>
            </tr>
        }
    </tbody>
</table>
